name: OWASP Dependency Check

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  dependency-check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Run OWASP Dependency Check
        uses: dependency-check/DependencyCheck_Action@main
        with:
          project: "dummy-project"
          path: "."
          format: "HTML"
